In [1]:
from faker import Faker

faker = Faker()
for i in range(5):
    print(faker.name())

print()

faker1 = Faker('hi_IN')
for i in range(5):
    print(faker1.name())

print()
    
for i in range(5):
    print(faker.text())

print()

import pandas as pd
data = [faker.profile() for i in range(10)]
df = pd.DataFrame(data)

df.head()

Scott Conner
Lauren Bradley
Terri Barnes
Nancy Johnston DVM
Robert Harris

गोविंदा रामलला
किरण दवे
बना, कुमारी
गुप्ता, आन्वी
वफादार, तन्वी

Painting as vote short prepare goal. Training miss whatever yourself last goal bar. Style enough speak data scientist various return eat.
Different magazine high bit.
Author cup seven what main reduce often. Use remain respond school behind. Skin responsibility image audience.
Prove throw during four measure. Safe action situation she. Say cost though true now himself citizen example.
Newspaper ability require step read very seem. Side imagine president summer risk table service development.
But worry all once because social.
Board key class many some national. First list generation family.
Color skill commercial ground seat. Test material concern easy power if executive.
Minute hit box statement single mind impact.

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Hydrologist,Martinez Ltd,673-21-6861,74355 Sandra Extensions Suite 333\nLake Nathan...,"(47.1540705, -111.716653)",O-,"[https://horton.com/, http://rodriguez.com/]",davidholland,Patrick Olson,M,"395 Micheal Streets\nSouth Mary, OK 15775",brandonalvarez@hotmail.com,1983-05-24
1,Interior and spatial designer,Pittman PLC,308-37-1909,"61389 Lisa Islands\nWest Shelby, WV 60274","(-17.5616755, 58.836926)",O-,"[http://wall-jones.com/, http://armstrong.com/]",xnelson,Robin Arnold,F,"83585 Hanson Track\nWest Darren, HI 39889",davidsonanna@hotmail.com,1948-05-08
2,Phytotherapist,"Barnes, Martinez and Haynes",407-25-0928,"3861 Brown Walks Suite 477\nPittsfurt, WI 91407","(55.527660, -72.025770)",A+,"[http://byrd.org/, http://hayes-clayton.info/,...",wandacraig,Emily Spencer,F,Unit 1963 Box 3245\nDPO AA 23288,fbrown@hotmail.com,1978-05-29
3,Soil scientist,"Banks, Porter and Tran",671-79-9986,"6389 Sierra Lodge\nGabrielview, LA 67024","(41.028517, -155.385934)",A-,"[https://williams.com/, http://www.todd.com/]",luke31,Diane Carter,F,"732 Garcia Squares Apt. 296\nRobertsonhaven, N...",daniel41@yahoo.com,2003-01-03
4,Retail merchandiser,Serrano Ltd,402-19-2298,"669 Tina Pike\nNew Jonathon, CO 11821","(23.1768815, 15.526915)",B+,[http://www.villa.info/],fowens,Brittany Mclaughlin,F,"96935 Justin Ridge Apt. 593\nVirginiaview, MS ...",valentinesteven@yahoo.com,1950-08-07