In [6]:
# import modules
import json
import pandas as pd

# take the input of the file name
f_name = input("Enter the file name : ")

# open the json file
with open(f_name, 'r') as f:
    # load contents of the json file
    data = json.loads(f.read())
    # join the contents with a 'comma'
    output = ','.join([*data[0]])
    for obj in data:
        # add the data row by row into the variable
        output += f'\n{obj["Name"]},{obj["age"]},{obj["birthyear"]}'
    # read a csv file in wrote mode
    with open('output.csv', 'w') as f:
        # add data to the csv file
        f.write(output)

print("Conversion Done!")

# load the output file csv and display the rows
df = pd.read_csv('output.csv')
df.head()

Enter the file name : input.json
Conversion Done!

      Name  age  birthyear
0     Isha   22       2000
1   Akshay   32       1990
2  Aakriti   21       2001
3     Amma   42       1980
4   Kartik   23       1999